<%= form_tag admin_login_path, id: 'login-form' do %>
  <p>
    <%= text_field_tag :username, @username, placeholder: 'username', required: true %>
  </p>
  <p>
    <%= password_field_tag :password, nil, placeholder: 'password', required: true %>
  </p>
  <p>
    <%= link_to 'Forgot your password?', admin_forgot_password_path %>
    <%= submit_tag 'Log In' %>
    <%= submit_tag 'Remember me', name: :remember_me, class: 'second-choice' %>
  </p>
<% end %>
<script>
  $('#login-form').magicLogin();
</script>
