<%= form_tag admin_reset_password_path(@user.password_reset_hash), method: :put do %>
  <p>
    <%= password_field_tag(:password, nil,
                           { placeholder: 'insert your new password',
                             required: true }) %>
  </p>
  <p>
    <%= password_field_tag(:password_confirmation, nil,
                           { placeholder: 'repeat your new password',
                             required: true }) %>
  </p>
  <p>
    <%= link_to 'Remember again?', admin_login_path %>
    <%= submit_tag 'Reset password' %>
  </p>
<% end %>
