<%= form_for @user, url: admin_profile_path, html: {id: 'user-form'} do |f| %>
  <div class="avatar">
    <%= link_to gravatar_tag(@user.email, 74), 'https://secure.gravatar.com/' %>
  </div>
  <h1>
    <%= @user.username %>
  </h1>
  <p class="api-key">
    API Key <span><%= @user.api_key %></span>
  </p>
  <p>
    <%= f.text_field :email, placeholder: 'Insert your email' %>
    <%= error_list @user.errors[:email] %>
  <p>
    <%= f.password_field :password, placeholder: 'Insert a new password' %>
    <%= error_list @user.errors[:password] %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, placeholder: 'Repeat the new password' %>
    <%= error_list @user.errors[:password_confirmation] %>
  </p>
  <p>
    <%= f.password_field(:password_old, required: true,
                         placeholder: 'Confirm with your current password') %>
    <%= error_list @user.errors[:password_old] %>
  </p>
  <p>
    <%= f.submit 'Save' %>
    <%= f.submit 'Refresh API Key', name: 'refresh_api_key', class: 'second-choice' %>
  </p>
<% end %>
