<%= form_tag admin_video_path(@video), method: :put do |f| %>
  <h1>
    <%= @video.title %>
  </h1>
  <ul class="details">
    <li>
      <%= time_ago_in_words @video.created_at %> ago by <%= @video.user.username %>
    </li>
    <li>
      <%= link_to @video.provider, @video.link %>
    </li>
    <li>
      <%= link_to '↗', video_path(id: @video, slug: @video.slug) %>
    </li>
  </ul>
  <div class="iframe">
    <%= video_iframe @video, 600 %>
  </div>
  <p>
    <%= text_field_tag :tags, @video.tags.join(', '), placeholder: 'Add some tags here' %>
  </p>
<% end %>
<script>
  $('input[name=tags]').magicComplete(<%= @tags.to_json.html_safe %>);
</script>
