<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= @title %> / atropa</title>

    <%= stylesheet_link_tag 'admin', :media => :all %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header">
      <nav>
        <ul>
          <li>
            <%= link_to 'home', admin_path, :class => 'home' %>
          </li>
          <li>
            <%= form_tag admin_videos_path, :id => 'new-video-link'  do %>
              <%= text_field_tag :url, nil, :placeholder => 'Submit a new video link' %>
            <% end %>
          </li>
          <li>
            <div>
              <%= current_user.username %>
            </div>
            <ul>
              <li class="avatar">
                <%= gravatar_tag current_user.email %>
              </li>
              <li>
                <%= link_to 'Settings', '#' %>
              </li>
              <li>
                <%= button_to 'Log Out', admin_login_path, :method => :delete %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to 'blog', root_path %>
          </li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <%= flash_all %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
