<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= @title %> : atropa</title>

    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    <%= auto_discovery_link_tag :atom, feed_path(format: :atom) %>
    <%= stylesheet_link_tag 'atropa', media: :all %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
    <%= javascript_include_tag 'atropa' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <ul id="tools">
          <li>
            <%= link_to 'heim', root_path %>
          </li>
          <li>
            <div class="sub-link">
              tags
            </div>
            <div class="sub">
              <div>
                <% @tags.each_slice(@tags.length.fdiv(4).ceil) do |tags| %>
                  <ul class="tags">
                    <% tags.each do |tag| %>
                      <li<%= ' class="cur"'.html_safe if tag == @tag %>>
                        <%= link_to tag.tag, tag_path(id: tag, slug: tag.slug) %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </li>
          <li>
            <%= link_to 'graph', graphs_path %>
          </li>
          <li>
            <%= form_tag search_path, id: 'search' do %>
              <%= text_field_tag :q, @q, {class: @q ? nil : 'empty'} %>
            <% end %>
          </li>
        </ul>
        <h1>
          <%= link_to 'atropa', root_path %>
        </h1>
      </header>
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <script>
      $('#search').magicSearch('<%= search_path %>', 'q');
      $('div.video').atropaVideo();
    </script>
  </body>
</html>
